/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    font-family: 'FuturaBT-Book',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    background-image:url('./images/IMG-20181105-WA0000.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  h1 {
    font-family: 'FuturaBT-Heavy',sans-serif;
    font-size: 45px;
    font-weight: 100;
    color: #3B8EA5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #FEF9E7  ;
    
  }
  
  h2 {
    font-family: 'FuturaBT-Heavy',sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #3B8EA5;
    padding-top: 10px;
    text-align: center;
    font-weight: 100;
    
  }
  
  h3 {}
  
  p {
    margin: 0;
    text-align: center;
    font-family: 'FuturaBT-Book',sans-serif;
    color: #3B8EA5;
  }
   
  li{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-inline-start: 0px;

   }
  
   canvas {
      max-width: 100%;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding-bottom: 30px;

     
   }

  button {
    background-color:#3B8EA5;
    border-color: #3B8EA5;
    color: #ffffff;
    border-radius: 10px 4px;
    width: 50%;
    padding: 20px;
    display: block;
    text-align: center;
    text-decoration:none;
    font-size: 20px;
    display: inline-block;
   
  }

  button:hover, #rules-expand:hover {
    cursor: pointer;
    opacity: .8;
  }

  #rules-expand, #rules-collapse {
    background-color:#3B8EA5;
    color: #ffffff;
    padding: 20px 0 10px;
    margin: 20px 0;
    position: relative;
  }

  #rules-collapse p{
    color: #ffffff;
  }

  #rules-expand div {
    display: inline;
  }

  footer {
    padding-top: 300px;
    font-size: 12px;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 0px;
    color: #3B8EA5;
  }

  
  /* ---- layout ---- */
  

  main{
    min-height: 100vh;
  }

  main.game {
  display: flex;
  justify-content: center;
  background-color: white;

  }

  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0px 20px;
    text-align: center;
    overflow: hidden;
    background-color: #FEF9E7;
    padding:15px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }

.wrapper {
  width: 100%;
  background-image: url('./images/IMG-20181105-WA0000.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}


  
 
  
  
  /* ---- components ---- */
 
  .text-game {
    color: #ffffff;
    padding-left: 20px;
    font-family: 'Anton', sans-serif;
    padding-top: 20px;
  }

  .rules {
    color:#3B8EA5;
    padding: 0px 20px 40px 20px;

  }

  .hidden {
    display: none;
  }

  .right-mobile-hidden, .left-mobile-hidden{
    display: block;
  }

  p.game-content{
  text-align: left;
  color: white;
  }

  .game-content{
    padding-top: 70px;
  }

  .button-alt {
    color: blue;
    background-color: #fff;
  }

  .header {
    
    padding-top: 20px;

  }

  p.message {
    background-color: #FBC02D;
    display: inline-block;
    padding: 10px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s;
    font-family: 'FuturaBT-Book',sans-serif;
    font-size: 18px;
 
  }

  p.message.show{
    opacity:1;
  }

  .learn-more {
    font-family: 'FuturaBT-Book',sans-serif;
    color: #00796B ;
    padding: 30px 0 10px 0;
    background-color: #00796B;
    margin: 20px 0;
    font-size: 18px;
    
  }

.flex-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

div.flex-inline {
  width: 33%;
}


#game-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#game-buttons button {
  width: 45%;
}


  /* ---- section ---- */
  
  @media (min-width: 786px) {
    .container {
        max-width: 70%;
        margin: 0 auto;
    }
    .right-mobile-hidden, .left-mobile-hidden {
      display: none;
     
    }

    button {
      width: 90%;
    }
}
  
  